    body {
        justify-content: center;
        font-family: "Montserrat", sans-serif;
        font-weight: normal;
        background-color: #000;
    }
    
    .heading-container {
        color: #fff;
        visibility: "hidden"
    }
    
    .dark-heading {
        font-size: 45px;
        padding-left: 300px;
        font-weight: 900;
        overflow-x: auto;
        display: inline-block;
        vertical-align: top;
    }
    
    .lightWeightFonts {
        display: inline-block;
        vertical-align: top;
        font-weight: 100;
    }
    
    #light-heading {
        font-size: 45px;
    }
    
    #ListplusCircle {
        color: blue;
        display: inline;
        float: right;
        margin: 60px 400px 0px 0px;
        -webkit-text-stroke: 1px;
    }
    
    #addlist {
        margin: 60px -130px 0px 0px;
        font-size: 24px;
        font-weight: 900;
        font-family: 'Roboto', sans-serif;
        display: inline;
        float: right;
        /* vertical-align: top; */
    }
    
    .noItemFound {
        font-size: 38px;
        color: #fff;
        font-weight: normal;
        text-align: left;
        margin-left: 250px;
        display: block;
    }
    
    #popup,
    .Itempopup {
        background-color: white;
        border: 1px solid indianred;
        padding: 0px 10px 0px 10px;
        height: 200px;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 3px 3px 3px lightgray;
        display: block;
        width: 400px;
        white-space: normal;
        text-align: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }
    
    .new_list {
        font-size: 24px;
        font-family: sans-serif;
        color: red;
    }
    
    #textarea,
    .textarea {
        text-align: center;
        border: 1px solid red;
        padding-top: 10px;
        border-radius: 5px;
    }
    
    .addbtn,
    #Itemaddbtn {
        display: block;
        color: #fff;
        background-color: tomato;
        border: 1px solid indianred;
        border-radius: 25px;
        font-size: 24px;
        font-family: "Roboto", sans-serif;
        text-align: center;
        margin: 30px auto;
        display: inline-block;
        width: 80px;
        height: 40px;
    }
    
    .closebtn,
    #Itemclosebtn {
        display: block;
        color: #fff;
        background-color: tomato;
        border: 1px solid indianred;
        border-radius: 25px;
        font-size: 24px;
        font-family: "Roboto", sans-serif;
        text-align: center;
        margin: 30px auto;
        display: inline-block;
        width: 80px;
        height: 40px;
    }
    
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    
    .flex-box {
        border: 1px solid tomato;
        margin-bottom: 50px;
        padding: 0px 10px 0px 10px;
        background-color: #fff;
        height: 400px;
        border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
        box-shadow: 10px 10px 10px lightgray;
        width: 250px;
        position: relative;
        /*-webkit-border-radius: ;
        -moz-border-radius: 10px 10px 10px 10px;
        -ms-border-radius: 10px 10px 10px 10px;
        -o-border-radius: 10px 10px 10px 10px;
         */
    }
    
    .fa-circle {
        color: red;
        float: left;
        display: inline;
        margin-left: 30px;
        margin-top: 350px;
    }
    
    .fa-trash {
        color: #fff;
        position: absolute;
        margin-left: 30px;
        margin-top: 350px;
    }
    
    #Item_plusCircle {
        color: red;
        position: absolute;
        float: right;
        display: inline;
        margin-left: 170px;
        margin-top: 350px;
    }
    
    #box-heading {
        margin-top: -15px;
        text-align: center;
        font-size: 30px;
        font-weight: 500;
        font-family: 'Raleway', sans-serif;
        /* transform: scaleY(1); */
        letter-spacing: 0.05px;
        color: red;
    }
    
    #horLine {
        width: 100%;
        visibility: hidden;
        color: #000;
    }
    
    .task-name-container {
        color: #000;
        font-size: 20px;
        font-weight: 500;
        font-family: sans-serif;
        padding: 15px 40px;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    
    #task-name {
        display: inline;
        vertical-align: top;
    }
    
    #markdone {
        background-color: lightgreen;
        color: #000;
        border: 1px solid green;
        width: 60px;
        height: 18px;
        display: inline;
        vertical-align: top;
        text-align: center;
        padding-left: 12px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        /*-moz-border-radius: ;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        */
    }